# misc
.DS_Store
*.swp
*.pem
node_modules

# npm, yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# repo
.env
.idea
Brewfile.lock.json
Brewfile-Slim.lock.json
gitconfig.private.*
npmrc.*
zprofile.symlink
zsh/brew.export.zsh
